.app {
    display: flex;
    min-height: 97vh;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
}

@media (max-width: 540px) {
    .app {
        flex-wrap: wrap;
    }
}